body {
    background: linear-gradient(to right bottom, rgb(223, 150, 150), rgb(181, 181, 255));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 85%;
    max-width: 400px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.heading {
    margin: 5px;
    font-size: 30px;
}

.ratings-container {
    display: flex;
    /* justify-content: center; */
    padding: 10px 0;
}

.rating {
    margin: 10px 10px ;
    padding: 12px;
    cursor: pointer;
}

.rating:hover {
    background: rgba(255, 7, 48, 0.3);
    color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.6);
    transition: all 300ms ease;
}

.btn {
    background-color: rgb(141, 11, 71);
    border: none;
    margin: 10px; 
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: monospace;
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
}

.btn:active {
    transform: scale(0.7);
}

.rating img {
    width: 40px;
}